<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(yield(:title) || "Untitled") %></title>
    <%= stylesheet_link_tag 'application', 'iupui' %>
    <%= yield(:head) %>
  </head>
  <body>
		<%= image_tag 'iu_crimson.gif', :id => "header-image" %>
    <div id="container">
      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>
      
      <%- if show_title? -%>
        <h1><%=h yield(:title) %></h1>
      <%- end -%>
      
			<div id="menu">
				<%= yield(:menu) %>
			</div>
			
      <%= yield %>

    </div>
		<div id="footer">
			<%= image_tag 'iupui-footer.gif' %>
			<a href="http://www.iupui.edu">Indiana University-Purdue University Indianapolis</a>
			,
			<a href="http://www.indiana.edu/comments/copyright.shtml">Copyright</a>
			© 2009 The Trustees of
			<a title="Indiana University" href="http://www.indiana.edu/">Indiana University</a>
			 | 
			<a title="Copyright Complaints" href="http://www.indiana.edu/comments/complaint.shtml">Copyright Complaints</a>
		</div>
  </body>
</html>
